/* Min Width 1400px */
@media screen and (min-width: $device_min_1400) {
    #header {
        .header-logo-wrp {
            margin: 40px 18.61702127659574% 19px 13.29787234042553%;
        }
        .header-form {
        	top: 0px;
    		right: 293px;
        }
        #block-ifa-custom-social-icons-block-top {
			padding: 6px 2px 2px 13px;
			margin-top: 7px;
			right: 40px;
			top: -7px;
			.social_icon {
			    margin: 0 0 2px 0;
			    a {
				    font-size: 29px;
					margin: 0 8px;
				}
			}
		}
    }
    .header-nav {
  		font: normal 14px/20px RobotoBold;
  		.navbar-collapse {
  			.navbar-nav {
  				> li {
  					> a {
						padding: 7px 10px 7px 27px;
						line-height: 20px;
  					}
  				}
  			}
  		}
	}
}