/* Min Width 1400px */
@media screen and (min-width: $device_min_1400) {
    #header {
        .header-logo-wrp {
            margin: 40px 18.61702127659574% 19px 13.29787234042553%;
        }
        .header-form {
        	top: 0px;
    		right: 293px;
        }
        #block-ifa-custom-social-icons-block-top {
			padding: 6px 2px 2px 13px;
			margin-top: 7px;
			right: 40px;
			top: -7px;
			.social_icon {
			    margin: 0 0 2px 0;
			    a {
				    font-size: 29px;
					margin: 0 8px;
				}
			}
		}
    }
    .header-nav {
  		font: normal 14px/20px $font-open-sans;
  		.navbar-collapse {
  			.navbar-nav {
  				> li {
  					> a {
						padding: 7px 10px 7px 27px;
						line-height: 20px;
  					}
  				}
  			}
  		}
	}
	#head-banner {
	    .carousel-inner {
	        .item {
	            .head-banner-content-wrp {
				    .head-banner-content {
					    h2 {
					        margin-bottom: 9px;
						}
					}
				}
	        }
	    }
	}
	.homepage-search {
		.search-opportunities-wrapper {
			.search-opportunities-well {
				padding: 50px 0 30px 0;
				.search-opportunities-in {
					margin-left: 3.465346534653465%;
    				width: 77.55775577999999%;
    				.search-heading-section {
    					h2 {
						    margin-right: 18px;
						}
						.sub-heading {
							font-size: 20px;
							margin-left: 21px;
						}
    				}
    				.search-item-wrp {
					    .search-form-item {
						    .search-item-label {
						    	font-size: 16px;
						    	line-height: 36px;
							}
							.search-item-right-section {
                                .search-select-group {
                                    .search-item-selectbox-wrp {
                                        .search-item-selectbox {
										    width: 194px;
										}
                                    }
                                }
                            }
						}
						.search-select-group1 {
                            width: 414px;
                            #edit-international-yes {
							    margin-top: 10px;
						        margin-left: 40px;
							}
                        }
					}
				}
			}
		}
	}
	.search-item-selectbox-wrp {
		.search-item-selectbox {
		    width: 194px;
		}
	}
}