/* ======================== FONTS ======================== */
$font-open-sans	: 'Open Sans', sans-serif;
$font-roboto	: 'Roboto', sans-serif;

$font-title		: $font-open-sans;
$font-text		: $font-roboto;

/* ======================== LIST ======================== */
$heading: h1 h2 h3 h4 h5 h6;

/* ======================== URL ======================== */
$url-images: '../images/';

